@define-color borders_breeze #555656;
@define-color content_view_bg_breeze #2c2c2c;
@define-color error_color_backdrop_breeze #97585e;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #7d4e53;
@define-color error_color_insensitive_breeze #7d4e53;
@define-color insensitive_base_color_breeze #242424;
@define-color insensitive_base_fg_color_breeze #8b8b8b;
@define-color insensitive_bg_color_breeze #242424;
@define-color insensitive_borders_breeze #3e3e3e;
@define-color insensitive_fg_color_breeze #8b8b8b;
@define-color insensitive_selected_bg_color_breeze #242424;
@define-color insensitive_selected_fg_color_breeze #8b8b8b;
@define-color insensitive_unfocused_bg_color_breeze #242424;
@define-color insensitive_unfocused_fg_color_breeze #8b8b8b;
@define-color insensitive_unfocused_selected_bg_color_breeze #242424;
@define-color insensitive_unfocused_selected_fg_color_breeze #8b8b8b;
@define-color link_color_breeze #0064ff;
@define-color link_visited_color_breeze #73739e;
@define-color success_color_backdrop_breeze #518c68;
@define-color success_color_breeze #24ad59;
@define-color success_color_insensitive_backdrop_breeze #4a745a;
@define-color success_color_insensitive_breeze #4a745a;
@define-color theme_base_color_breeze #2c2c2c;
@define-color theme_bg_color_breeze #222222;
@define-color theme_button_background_backdrop_breeze #333333;
@define-color theme_button_background_backdrop_insensitive_breeze #242424;
@define-color theme_button_background_insensitive_breeze #242424;
@define-color theme_button_background_normal_breeze #323232;
@define-color theme_button_decoration_focus_backdrop_breeze #4f6b93;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #475c79;
@define-color theme_button_decoration_focus_breeze #3478da;
@define-color theme_button_decoration_focus_insensitive_breeze #475c79;
@define-color theme_button_decoration_hover_backdrop_breeze #4389a9;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #407289;
@define-color theme_button_decoration_hover_breeze #00a1ec;
@define-color theme_button_decoration_hover_insensitive_breeze #407289;
@define-color theme_button_foreground_active_backdrop_breeze #b3b3b3;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #8b8b8b;
@define-color theme_button_foreground_active_breeze #f1f1f1;
@define-color theme_button_foreground_active_insensitive_breeze #8b8b8b;
@define-color theme_button_foreground_backdrop_breeze #b4b4b4;
@define-color theme_button_foreground_backdrop_insensitive_breeze #8b8b8b;
@define-color theme_button_foreground_insensitive_breeze #8b8b8b;
@define-color theme_button_foreground_normal_breeze #f1f1f1;
@define-color theme_fg_color_breeze #eff0f1;
@define-color theme_header_background_backdrop_breeze #2c2c2c;
@define-color theme_header_background_breeze #222222;
@define-color theme_header_background_light_breeze #222222;
@define-color theme_header_foreground_backdrop_breeze #b3b3b3;
@define-color theme_header_foreground_breeze #eff0f1;
@define-color theme_header_foreground_insensitive_backdrop_breeze #b3b3b3;
@define-color theme_header_foreground_insensitive_breeze #b3b3b3;
@define-color theme_hovering_selected_bg_color_breeze #00a1ec;
@define-color theme_selected_bg_color_breeze #1b91d5;
@define-color theme_selected_fg_color_breeze #f1f1f1;
@define-color theme_text_color_breeze #f1f1f1;
@define-color theme_titlebar_background_backdrop_breeze #2c2c2c;
@define-color theme_titlebar_background_breeze #222222;
@define-color theme_titlebar_background_light_breeze #222222;
@define-color theme_titlebar_foreground_backdrop_breeze #909090;
@define-color theme_titlebar_foreground_breeze #cccccc;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #909090;
@define-color theme_titlebar_foreground_insensitive_breeze #909090;
@define-color theme_unfocused_base_color_breeze #333333;
@define-color theme_unfocused_bg_color_breeze #2c2c2c;
@define-color theme_unfocused_fg_color_breeze #b3b3b3;
@define-color theme_unfocused_selected_bg_color_alt_breeze #333333;
@define-color theme_unfocused_selected_bg_color_breeze #333333;
@define-color theme_unfocused_selected_fg_color_breeze #b3b3b3;
@define-color theme_unfocused_text_color_breeze #b4b4b4;
@define-color theme_unfocused_view_bg_color_breeze #242424;
@define-color theme_unfocused_view_text_color_breeze #8b8b8b;
@define-color theme_view_active_decoration_color_breeze #00a1ec;
@define-color theme_view_hover_decoration_color_breeze #00a1ec;
@define-color tooltip_background_breeze #3b3b3b;
@define-color tooltip_border_breeze #686869;
@define-color tooltip_text_breeze #eff0f1;
@define-color unfocused_borders_breeze #4e4e4e;
@define-color unfocused_insensitive_borders_breeze #3e3e3e;
@define-color warning_color_backdrop_breeze #ad7543;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #8c6440;
@define-color warning_color_insensitive_breeze #8c6440;
