@define-color borders_breeze #4f5056;
@define-color content_view_bg_breeze #121318;
@define-color error_color_backdrop_breeze #ffb4ab;
@define-color error_color_breeze #ffb4ab;
@define-color error_color_insensitive_backdrop_breeze #604848;
@define-color error_color_insensitive_breeze #604848;
@define-color insensitive_base_color_breeze #111217;
@define-color insensitive_base_fg_color_breeze #57575d;
@define-color insensitive_bg_color_breeze #1d1e23;
@define-color insensitive_borders_breeze #2d2e34;
@define-color insensitive_fg_color_breeze #5e5f65;
@define-color insensitive_selected_bg_color_breeze #1d1e23;
@define-color insensitive_selected_fg_color_breeze #5e5f65;
@define-color insensitive_unfocused_bg_color_breeze #1d1e23;
@define-color insensitive_unfocused_fg_color_breeze #5e5f65;
@define-color insensitive_unfocused_selected_bg_color_breeze #1d1e23;
@define-color insensitive_unfocused_selected_fg_color_breeze #5e5f65;
@define-color link_color_breeze #c0c6dc;
@define-color link_visited_color_breeze #dce2f9;
@define-color success_color_backdrop_breeze #e0bbdd;
@define-color success_color_breeze #e0bbdd;
@define-color success_color_insensitive_backdrop_breeze #564a59;
@define-color success_color_insensitive_breeze #564a59;
@define-color theme_base_color_breeze #121318;
@define-color theme_bg_color_breeze #1e1f25;
@define-color theme_button_background_backdrop_breeze #282a2f;
@define-color theme_button_background_backdrop_insensitive_breeze #26282d;
@define-color theme_button_background_insensitive_breeze #26282d;
@define-color theme_button_background_normal_breeze #282a2f;
@define-color theme_button_decoration_focus_backdrop_breeze #b1c5ff;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #545c72;
@define-color theme_button_decoration_focus_breeze #b1c5ff;
@define-color theme_button_decoration_focus_insensitive_breeze #545c72;
@define-color theme_button_decoration_hover_backdrop_breeze #b1c5ff;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #545c72;
@define-color theme_button_decoration_hover_breeze #b1c5ff;
@define-color theme_button_decoration_hover_insensitive_breeze #545c72;
@define-color theme_button_foreground_active_backdrop_breeze #e2e2e9;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5e5f65;
@define-color theme_button_foreground_active_breeze #172e60;
@define-color theme_button_foreground_active_insensitive_breeze #5e5f65;
@define-color theme_button_foreground_backdrop_breeze #e2e2e9;
@define-color theme_button_foreground_backdrop_insensitive_breeze #64656b;
@define-color theme_button_foreground_insensitive_breeze #64656b;
@define-color theme_button_foreground_normal_breeze #e2e2e9;
@define-color theme_fg_color_breeze #e2e2e9;
@define-color theme_header_background_backdrop_breeze #121318;
@define-color theme_header_background_breeze #1e1f25;
@define-color theme_header_background_light_breeze #1e1f25;
@define-color theme_header_foreground_backdrop_breeze #e2e2e9;
@define-color theme_header_foreground_breeze #e2e2e9;
@define-color theme_header_foreground_insensitive_backdrop_breeze #e2e2e9;
@define-color theme_header_foreground_insensitive_breeze #e2e2e9;
@define-color theme_hovering_selected_bg_color_breeze #b1c5ff;
@define-color theme_selected_bg_color_breeze #b1c5ff;
@define-color theme_selected_fg_color_breeze #172e60;
@define-color theme_text_color_breeze #e2e2e9;
@define-color theme_titlebar_background_backdrop_breeze #121318;
@define-color theme_titlebar_background_breeze #1e1f25;
@define-color theme_titlebar_background_light_breeze #1e1f25;
@define-color theme_titlebar_foreground_backdrop_breeze #e2e2e9;
@define-color theme_titlebar_foreground_breeze #e2e2e9;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #e2e2e9;
@define-color theme_titlebar_foreground_insensitive_breeze #e2e2e9;
@define-color theme_unfocused_base_color_breeze #121318;
@define-color theme_unfocused_bg_color_breeze #1e1f25;
@define-color theme_unfocused_fg_color_breeze #e2e2e9;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3c4358;
@define-color theme_unfocused_selected_bg_color_breeze #3c4358;
@define-color theme_unfocused_selected_fg_color_breeze #e2e2e9;
@define-color theme_unfocused_text_color_breeze #e2e2e9;
@define-color theme_unfocused_view_bg_color_breeze #111217;
@define-color theme_unfocused_view_text_color_breeze #57575d;
@define-color theme_view_active_decoration_color_breeze #172e60;
@define-color theme_view_hover_decoration_color_breeze #172e60;
@define-color tooltip_background_breeze #1e1f25;
@define-color tooltip_border_breeze #4f5056;
@define-color tooltip_text_breeze #e2e2e9;
@define-color unfocused_borders_breeze #4f5056;
@define-color unfocused_insensitive_borders_breeze #2d2e34;
@define-color warning_color_backdrop_breeze #e0bbdd;
@define-color warning_color_breeze #e0bbdd;
@define-color warning_color_insensitive_backdrop_breeze #564a59;
@define-color warning_color_insensitive_breeze #564a59;
