include "layout.kdl"

include "input.kdl"

include "./noctalia.kdl"

include "startup.kdl"

include "binds.kdl"

// include "colors.kdl"

include "animation.kdl"

include "display.kdl"

include "misc.kdl"
