input {
	keyboard {
		repeat-delay 200
		repeat-rate 35
		numlock
 	xkb {
		layout "us, hr, rs"
		options "grp:alt_shift_toggle"
        }

	}

	mouse {
		accel-profile "flat"
	}

	focus-follows-mouse max-scroll-amount="30%"
}
