layout {

    focus-ring {
        active-color   "#9bcbfa"
        inactive-color "#101418"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#9bcbfa"
        inactive-color "#101418"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9bcbfa"
        inactive-color "#0d4a73"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#9bcbfa80"
    }
}
