layout {

    focus-ring {
        active-color   "#54d7f2"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#54d7f2"
        inactive-color "#111415"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#54d7f2"
        inactive-color "#004e5b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#54d7f280"
    }
}

recent-windows {
    highlight {
        active-color "#54d7f2"
        urgent-color "#ffb4ab"
    }
}
