spawn-sh-at-startup "qs -c noctalia-shell"
spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"
spawn-at-startup "kwalletd6"
spawn-at-startup "mpDris2"
spawn-sh-at-startup "sleep 5 && flatpak run com.github.wwmm.easyeffects --service-mode -w"
// spawn-at-startup "~/.local/bin/bt-force-connect.sh"
spawn-sh-at-startup "swayidle -w"
spawn-sh-at-startup "ddcutil --bus 6 setvcp 10 100"
spawn-at-startup "niriusd"

// spawn-sh-at-startup "sleep 5 && easyeffects --gapplication-service"
// spawn-at-startup "easyeffects"
// spawn-sh-at-startup "jallyfin"
// spawn-sh-at-startup "mpd-mpris -port 8000"
// spawn-at-startup "waybar"
// spawn-sh-at-startup "KWALLET5_LOGIN=/tmp/kwallet5_kromid.socket /usr/lib/pam_kwallet_init"

hotkey-overlay { skip-at-startup; }

screenshot-path "~/Pictures/Screenshots/ from %Y-%m-%d $H-$M.png"


