spawn-sh-at-startup "qs -c noctalia-shell"
//spawn-at-startup "waybar"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store"

hotkey-overlay { skip-at-startup; }

screenshot-path "~/Pictures/Screenshots/ from %Y-%m-%d $H-$M.png"


